#toggle-password {
    cursor: pointer;
    border: none;
  }
  #toggle-cpassword {
    cursor: pointer;
    border: none;
  }
  
  #toggle-password i {
    font-size: 1rem;
  }
  #toggle-cpassword i {
    font-size: 1rem;
  }
  
  .form-control {
    position: relative;
  }
  
  #password {
    padding-right: 2.5rem;
  }
  #cpassword {
    padding-right: 2.5rem;
  }
  .input-group {
    position: relative;
  }
  
  .input-group-text {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  .input-group-text i {
    font-size: 1rem;
  }
  